<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TIMBER</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/#/browse">Browse<span class="sr-only">(current)</span></a></li>
        <li><a href="/#/myitems">My Items</a></li>
        <li><a href="/#/mymatches">My Matches</a></li>
        <li><a href="/#/mytrades">My Trades</a></li>
        <li class="dropdown-menu-class">
          <div ng-controller="DropdownCtrl">
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                Victoria Li <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">View Profile</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-controller="SignOutCtrl" ng-click="user.logout()"a href="#">Log Out</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="polaroid col-sm-6 col-sm-offset-3"> 
      <figure> 
        <img ng-src="{{post.picture}}" class="img-responsive">
        <figcaption>{{ post.user_id }}</figcaption> 
        <figcaption>{{ post.title }}</figcaption>
      </figure>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 yes-no-button col-sm-offset-3">
      <span><button type="button" ng-click="cross()"><i class="fa fa-times-circle fa-align-center"></i></button>
      <button type="button" ng-click="tick()"><i class="fa fa-check-circle fa-align-center"></i></button></span>
    </div>
  </div>
</div>

<!-- <div ng-controller="MatchModalCtrl">
  <button class="btn btn-default" ng-click="open()">Open me!</button>
</div> -->