<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TIMBER</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="./">Browse<span class="sr-only">(current)</span></a></li>
        <li><a href="../posts/new.html">My Items</a></li>
        <li><a href="../navbar-fixed-top/">My Matches</a></li>
        <li><a href="../navbar-fixed-top/">My Trades</a></li>
        <li class="dropdown-menu-class">
          <div ng-controller="DropdownCtrl">
            <div class="btn-group" dropdown is-open="status.isopen">
              <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle ng-disabled="disabled">
                Victoria Li <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">View Profile</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-controller="SignOutCtrl" ng-click="user.logout()"a href="#">Log Out</a></li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <div class= "row">
    <div class= "col-sm-2">
    </div>
    <div class="polaroid col-sm-8"> 
      <figure ng-controller="RandomShowCtrl"> 
        <img ng-src="{{post.picture}}">
        <figcaption>{{ post.user_id }}</figcaption> 
        <figcaption>{{ post.title }}</figcaption>
      </figure>
      <div class= "col-sm-2">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 yes-no-button">
      <span><i class="fa fa-times-circle fa-align-center"></i>
      <i class="fa fa-check-circle fa-align-center"></i></span>
    </div>
    <div class= "col-sm-2">
    </div>
  </div>
</div>