<div class="container">
  <div class="row">
    <h1>Sign In</h1>

    <form ng-controller="SignInCtrl" ng-submit="form.submit()">
      <input type="email" placeholder="email" ng-model="user.email">
      <input type="password" placeholder="password" ng-model="user.password">
      <input type="submit">
    </form>
<!--     <button ng-controller="SignOutCtrl" type="button" ng-click="user.logout()">Logout</button> -->
  </div>
</div>


<div class="container">
  <div class="row">
    <h1>Sign Up</h1>

    <form ng-controller="SignUpCtrl" ng-submit="form.submit()">
      <input type="email" placeholder="email" ng-model="user.email">
      <input type="password" placeholder="password" ng-model="user.password">
      <input type="password" placeholder="password_confirmation" ng-model="user.password_confirmation">
      <input type="submit">
    </form>
  </div>
</div>