
  <div class="navigatorTop">
    <div class="bgColor">
      <div class="logoBrand">
        <h1 class="logoTitle">Timber</h1>
      </div>      
    </div>
  </div>

<div class="login-Background">
  <div class="verticalcenter">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">

              <form class = "signup-login" ng-controller="SignInCtrl" ng-submit="form.submit()">
                <h1>Sign In</h1>
                <input type="email" placeholder="email" ng-model="user.email"><br>
                <input type="password" placeholder="password" ng-model="user.password"><br>
                <input type="submit">
              </form>


              <form class = "signup-login" ng-controller="SignUpCtrl" ng-submit="form.submit()">
               <h1>Sign Up</h1>
                <input type="email" placeholder="email" ng-model="user.email"><br>
                <input type="password" placeholder="password" ng-model="user.password"><br>
                <input type="password" placeholder="password_confirmation" ng-model="user.password_confirmation"><br>
                <input type="submit">
              </form>

          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>