//browse page//

.dropdown-menu-class{
  margin-top: 8px;
}

figure, figcaption{ 
  display:block;
}

.polaroid{
  padding:20px 10px;
  width:100%;
  overflow:hidden;
  // height: 300px;
}

.polaroid figure{
  position:relative;
  width:100%; 
  margin:20px 20px; 
  padding: 10px 10px 30px 10px; 
  background: #eee6d8; 
  background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
  -webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  -moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
}

.yes-no-button{
  text-align:center;
}

.yes-no-button button{
  border:0;
  background-color:white;
}

.fa{
  font-size: 120px;
}

.fa-times-circle{
  color: red;
}

.fa-check-circle{
  color: green;

}