.trade-boxInner {
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
}

.trade-box {
  float: left;
  position: relative;
  width: 50%;
  padding-bottom: 50%;
}

.contact-owner{
  text-align:center;
}